# Model and co
numpy>=1.19.2,<1.20.0
pandas>=1.2.4,<1.3.0
feature-engine>=1.0.2,<1.1.0
scikit-learn>=0.23.2,<0.24.0
joblib>=1.0.1,<1.1.0

# For schema validation
marshmallow>=3.11.1,<3.12.0

# For test
pytest>=6.1.1,<6.2.0
tox>=3.23.0,<3.24.0

# For packaging
setuptools>=50.3.1,<50.4.0
wheel>=0.35.1,<0.36.0

# others
virtualenv>=20.4.4,<20.5.0
